@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.app {
  font-family: 'Open Sans', sans-serif;
}

.footer {
  color: rgba(175, 173, 173, 0.947);
  justify-content: center;
  font-size: 14px;
  display: flex;
}

.page {
  padding: 20px;
}

.headline {
  font-size: 2em;
  margin-bottom: 20px;
  color: #53474F;
}

.navbar-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-option {
  list-style: none;
  color: black;
}

.button {
  padding: 10px 20px;
  background-color: #FF7D9C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #ff517a;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.question-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.question-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.question-form input[type="text"],
.question-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.question-form input[type="text"]:focus,
.question-form select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.question-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-form button:hover {
  background-color: #0056b3;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #28a745;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #218838;
  transform: scale(1.1);
}

.floating-button i {
  font-size: 24px;
}

.question-form fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #ffffff;
}

.question-form label {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

.question-form input[type="radio"] {
  margin-right: 5px;
}

.category-page-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.category-questions-list-item
{
  list-style: none;
  color: rgb(39, 71, 123);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.category-questions-list-item :hover
{
  cursor: pointer;
  color: rgba(56, 101, 173, 0.925);
  transform: scale(1.05);
}

.no-category-questions, .error, .loading
{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}


