@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Root Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #ff7d9c;
  --hover-secondary: #ff517a;
  --background-light: #f9f9f9;
  --text-main: #333;
  --text-secondary: #555;
  --error: #ff4d4d;
  --success: #4dabf7;
}

/* General Styles */
body, .app {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-light);
  color: var(--text-main);
}

.footer {
  color: rgba(175, 173, 173, 0.947);
  justify-content: center;
  font-size: 14px;
  display: flex;
}

.page {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headline {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #53474F;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
}

.navbar-option {
  list-style: none;
  font-size: 1.1em;
  color: black;
}

.navbar-option:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Buttons */
.button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: var(--hover-secondary);
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Forms */
.question-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-light);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question-form h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-main);
}

.question-form label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
  margin-right: 15px;
}

.question-form input[type="radio"] {
  margin-right: 5px;
}

.question-form fieldset label {
  margin-right: 10px;
  margin-top: 5px;
}

.question-form input[type="text"],
.question-form select,
.question-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  resize: vertical;
}

.question-form fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #ffffff;
}

.question-form input:focus,
.question-form select:focus,
.question-form textarea:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.question-form button{
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-form button:hover{
  background-color: #0056b3;
}

/* Add QuestionModel Floating Button*/
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #28a745;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #218838;
  transform: scale(1.1);
}

.floating-button i {
  font-size: 24px;
}

.question-form fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #ffffff;
}

.question-form label {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

.question-form input[type="radio"] {
  margin-right: 5px;
}

.category-page-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-questions-list-item {
  list-style: none;
  color: rgb(39, 71, 123);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.category-questions-list-item :hover {
  cursor: pointer;
  color: rgba(56, 101, 173, 0.925);
  transform: scale(1.05);
}

.no-category-questions, .error, .loading {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.error {
  color: #ff4d4d;
  background-color: #ffe6e6;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success {
  color: #4dabf7;
  background-color: #e7f4fa;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #4dabf7;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-container {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #007BFF;
}

/* answerForm css */
.answer-form-selector
{
  display: grid;
  justify-content: center;
  align-items: center;
}

.answer-form
{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.answer-form h1{
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.answer-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.answer-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.answer-form input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.answer-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.answer-form input[type="email"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.answer-form button[type="submit"]{
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-form button[type="submit"]:hover{
  background-color: #0056b3;
}

.go-back-button{
  padding: 10px;
  background-color: #8a8e92;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.go-back-button:hover{
  background-color: #363738;
}

/* single question page css */
.single-question-page {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.go-back-link {
  text-decoration: none;
}

.go-back-to_category-button {
  padding: 10px 20px;
  background-color: #8a8e92;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-back-to_category-button:hover {
  background-color: #363738;
}

.question-header h1 {
  font-size: 2em;
  color: #53474F;
}

.question-info {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.question-body p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

.question-add-answer p {
  font-size: 14px;
  color: #555;
}

.add-answer-link {
  text-decoration: none;
}

.add-answer-button {
  padding: 10px 20px;
  background-color: #FF7D9C;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-answer-button:hover {
  background-color: #ff517a;
}


.question-comment {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.question-comment-header p {
  font-size: 14px;
  color: #555;
}

.question-comment-body p {
  font-size: 16px;
  color: #333;
}

.loading,
.error {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}


/* Home Page */
.about-site, .about-team {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.about-site h2, .about-team h2 {
  font-size: 1.5em;
  color: #333;
}

.about-site p, .about-team .team-member p, p {
  font-size: 1.25em;
  color: #555;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.team-member {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  display: inline-flex;
  align-items: center;
  font-size: 1.3em;
  color: #53474F;
  margin:5px;
}

/* LinkedIn Icon */
.linkedin-icon {
  margin-left: 15px; /* Adds spacing between the name and icon */
  color: #0077b5; /* LinkedIn blue */
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.linkedin-icon:hover {
  color: #005582; /* Darker LinkedIn blue */
}