/* Load a soft and modern font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* Root Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #ff7d9c;
  --hover-secondary: #ff517a;
  --background-light: #f9f9f9;
  --text-main: #333;
  --text-secondary: #555;
  --error: #ff4d4d;
  --success: #4dabf7;
}

/* General Styles */
body, .app {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-light);
  color: var(--text-main);
}

.page {
  max-width: 800px;
  margin: 0 auto;
}

/* Header container */
.header-content {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 15px 90px;
  background-color: white; 
}

.header-left {
  display: flex; 
  align-items: center; 
}

/* App logo styling */
.app-logo {
  width: 120px;
  height: auto; 
  margin-right: 15px; 
}

/* App title styling */
.app-title {
  font-size: 2.25rem;
  color: #a2ceca;
  margin: 0;
  white-space: nowrap;
}

/* Ask question button */
.ask-question-button {
  display: inline-flex; 
  align-items: center;
  justify-content: center; 
  padding: 10px 20px;
  background-color: #a2ceca;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  gap: 8px;
  font-family: inherit;
}

/* Ask question button hover effect */
.ask-question-button:hover {
  background-color: #86c9c3;
}

/* Icon styling for the ask question button */
.material-symbols-outlined {
  font-size: 25px; 
  line-height: 1; 
  vertical-align: middle; 
}

/* Base styling */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefaf6; 
  color: #444; 
}

/* Main container for content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation Bar */
.navbar-options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2ceca; 
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  gap: 10px;
}

/* Each option in the navigation bar */
.navbar-option {
  display: flex;
  align-items: center;
  margin: 0 15px;
  text-decoration: none;
  color: white; 
  font-size: 20px;
  font-weight: 500;
}

/* Hover effect for each navbar option */
.navbar-option:hover {
  color: #E6F3FF;
}

/* Icon styling inside navbar options */
.navbar-icon {
  width: 28px; 
  height: 28px;
  margin-right: 8px; 
  filter: brightness(0) invert(1); 
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover effect for navbar icons */
.navbar-option:hover .navbar-icon {
  transform: scale(1.2); 
  filter: brightness(0.8) invert(1); 
}

/* Horizontal line below navbar options */
.navbar-options hr {
  border: none;
  height: 2px;
  background-color: white;
  margin: 0;
  margin-top: 5px;
  width: 100%;
}

/* Footer styling */
.footer {
  color: #444;
  text-align: center;
  position: relative;
  bottom: 0;
}

/* Footer text styling */
.footer p {
  margin: 30px 20px 20px 50px;
  font-size: 14px;
  color: #9f94b8; 
}

/* Home Page */
.about-site, .about-team, .about-experts{
  margin-top: 30px;
  padding: 20px 40px;
  background-color: white;
  border: 1px solid #eef2f5;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.about-site h2, .about-team h2, .about-experts h2 {
  font-size: 1.5em;
  color: var(--text-main);
  margin-bottom: 16px;
}

.about-site p, .about-team .team-member p, p, .about-experts p {
  font-size: 1.25em;
  color: var(--text-secondary);
}

.team-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.team-member {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  display: inline-flex;
  align-items: center;
  font-size: 1.3em;
  color: #53474F;
  margin: 5px;
}

/* LinkedIn Icon */
.linkedin-icon {
  margin-left: 15px;
  color: #0077b5;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.linkedin-icon:hover {
  color: #005582;
}

/* Responsive design for smaller screens (max-width: 640px) */
@media (max-width: 640px){
  .navbar-options {
    display: -webkit-box;
  }

  .header-content {
    display: grid;
  }

  .header-left {
    width: 50%;
  }

  .ask-question-button {
    display: block;
  }

  .app-logo {
    width: 80px;
  }

  .app-title {
    font-size: 2rem;
  }

}
